# latex stuff
*.log
*.aux

# compiled output
**.pdf

# vim swap
**.swp

# ipython notebook checkpoints
**.ipynb_checkpoints

# lectures ordner von Johannes
**/lectures/**
**/pythontex test/**
**.tar
zettel5/Homework5/**

# Elsas latex editor
**.synctex.gz
