# latex stuff
*.log
*.aux
*.out

# compiled output
**.pdf

# vim swap
**.swp
**.swo

# ipython notebook checkpoints
**.ipynb_checkpoints

# lectures ordner von Johannes and stuff
**/lectures/**
**/pythontex test/**
**.tar
zettel5/Homework5/**
**/corrected_sheets/**
**/Trial_Exam/**

# Elsas latex editor
**.synctex.gz

# Gimp files
**.xcf

# Minted stuff
**_minted**
**.pygstyle

# IRAF
login.cl
uparm*

# Homework Directories
**HW**
